* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oxanium", cursive;
  overflow-x: hidden;
}
:root {
  --background-color: #002ea1;
  --color: #ffff;
}
.whole-container {
  position: relative;
  margin: 25px 150px 0px 150px;
  background-color: rgba(139, 139, 139, 0.342);
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  word-spacing: 3px;
}

.nav-color {
  background-color: var(--background-color);
}

.header .container .top-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  margin: 0 40px 20px 40px;
  color: var(--background-color);
  text-transform: uppercase;
}

.header .container .top-row .right-row {
  display: grid;
  justify-self: right;
  text-transform: lowercase;
}
.header .right-row p:hover {
  /* text-decoration: underline; */
  color: rgb(139, 8, 8);
}
.top-row span {
  font-size: 30px;
  color: rgb(196, 11, 11);
  font-style: italic;
}

/* ---------------Nav-bar------------------ */

.nab-bar ul li a {
  color: var(--color);
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 15px;
}

.nav-title ul li {
  display: inline-block;
  text-decoration: none;
  padding: 17px 5px 17px 5px;
}
.nav-row li:hover {
  border-bottom: 1px solid red;
  padding-bottom: 15px;
}

.nav-row li ul {
  display: none;
}

.nav-row .dropdown a:hover ul {
  display: inline-block;
  position: absolute;
  z-index: 100;
}

/* ---------------Nav-bar-end here------------------ */

/* ------------------TOP IMAGE SECTION------------ */
.main-pic {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.text-center {
  display: grid;
  text-align: center;
  color: rgba(204, 209, 218, 0.986);
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 700px;
  word-spacing: 5px;
}
.text-center span {
  font-size: 80px;
  color: rgb(196, 11, 11);
  font-style: italic;
  letter-spacing: 2px;
  padding-bottom: 10px;
}
.text-center .head-text {
  letter-spacing: 2px;
  word-spacing: 1px;
  opacity: 0.9;
  color: var(--color);
  font-style: italic;
}
h1 {
  font-size: 70px;
  font-family: "Oxanium", cursive;
}
.images .title {
  color: var(--color);
  display: grid;
  justify-content: center;
  letter-spacing: 2px;
}

/* -------------Explore by category----- */
.middle-text {
  margin: 30px;
}

.middle-text h2 {
  font-size: 50px;
  margin-top: 50px;
  font-weight: bold;
  color: var(--background-color);
}

.middle-text p {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 50px;
}
.button {
  background: var(--background-color);
  margin: 3px 0px;
  padding: 15px 16px;
  border-radius: 5px;
  color: var(--color);
  margin-bottom: 30px;
  border: none;
}
.button:hover {
  opacity: 0.9;
}

/* -------------Explore by category End Here----- */

/* ------------------IMAGES SIZE AND PROPERTIES------------ */

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px 30px 40px 30px;
  grid-gap: 15px;
}
.images .bg-image:hover {
  opacity: 0.88;
  transform: scale(1.01);
}
.images .bg-image:hover .title {
  color: yellow;
}
.bg-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image-prop {
  background-color: var(--background-color);
  padding: 60px;
  min-height: 200px;
  font-size: 28px;
  color: var(--color);
  text-shadow: 0 0 10px #000;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  box-shadow: inset 0 0 0 2000px rgba(0, 17, 62, 0.2);
  transition: all 0.3s;
}

.bg-image-size {
  min-width: 150px;
  margin: 1%;
}
/* ---------------------IMAGES FOR JOB CATAGORIES--------------------- */
.image01 {
  background-image: url("https://images.unsplash.com/photo-1546953304-5d96f43c2e94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1602&q=80");
}
.image02 {
  background-image: url("https://images.unsplash.com/photo-1581093803931-46e730e7622e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.image03 {
  background-image: url("https://images.unsplash.com/photo-1549560826-4b7bfe23f37b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
}
.image04 {
  background-image: url("https://images.unsplash.com/photo-1544986581-efac024faf62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.image05 {
  background-image: url("https://images.unsplash.com/photo-1504384764586-bb4cdc1707b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.image06 {
  background-image: url("https://images.unsplash.com/photo-1455165814004-1126a7199f9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.image07 {
  background-image: url("https://images.unsplash.com/photo-1533750349088-cd871a92f312?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.image08 {
  background-image: url("https://images.unsplash.com/photo-1581291519195-ef11498d1cf2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
}
.image09 {
  background-image: url("https://images.unsplash.com/photo-1556740772-1a741367b93e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
}

/* ---------------------IMAGES FOR JOB REGIONS--------------------- */
.image10 {
  background-image: url("https://images.unsplash.com/photo-1558360833-ac00ae035e7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80");
}
.image11 {
  background-image: url("https://images.unsplash.com/photo-1520681279154-51b3fb4ea0f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.image12 {
  background-image: url("https://images.unsplash.com/photo-1477322524744-0eece9e79640?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1311&q=80");
}
.image13 {
  background-image: url("https://images.unsplash.com/photo-1550680676-a37222515554?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.image14 {
  background-image: url("https://images.unsplash.com/photo-1538332576228-eb5b4c4de6f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.image15 {
  background-image: url("https://images.unsplash.com/photo-1533332408354-c5f979b0e086?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1296&q=80");
}
.image16 {
  background-image: url("https://images.unsplash.com/photo-1574593767259-25e92b504750?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.image17 {
  background-image: url("https://images.unsplash.com/photo-1561737521-b7fc409b5516?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.image18 {
  background-image: url("https://images.unsplash.com/photo-1484438006008-10058aac184b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
}
.image19 {
  background-image: url("https://images.unsplash.com/photo-1567669721460-221b82865ee0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
}
.image20 {
  background-image: url("https://images.unsplash.com/photo-1578759438445-727807c675a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}

/* --------------------------------FOOTER SECTION--------------------- */
.footer {
  position: relative;
  margin: 0 auto;
}

.footer-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-decoration: none;
  background: var(--background-color);
  color: var(--color);
  font-size: 16px;
  padding: 70px 60px;
  height: 70vh;
  overflow: hidden;
}
.middle-footer li a:hover,
.right-footer li a:hover {
  text-decoration: underline;
}
.footer-row p {
  font-weight: normal;
}
.footer-row h5 {
  font-size: 17px;
}
.right-footer {
  display: grid;
  justify-self: right;
  margin: 50px;
  padding-right: 10px;
}
.footer-row li a {
  color: var(--color);
  text-decoration: none;
  font-weight: bold;
}
.footer-row ul {
  list-style: none;
}
.middle-footer h5,
li {
  padding-bottom: 30px;
}
.footer-row .left-footer span {
  font-size: 30px;
  color: rgba(196, 11, 11, 0.856);
  font-style: italic;
}
